<%- include ("../partials/header") %>

<h1>Player Creation</h1>
<form action="/create_player" method="post">
  <div class="mb-3">
    <label for="player_name" class="form-label">Player Name</label>
    <input type="text" class="form-control" id="player_name" name="player_name">
  </div>
  <div class="mb-3">
    <label for="karma" class="form-label">Karma</label>
    <input type="number" class="form-control" id="karma" name="karma" placeholder="1">
  </div>
  <button class="btn btn-primary">Submit</button>
</form>

<%- include ("../partials/footer") %>